* {
    box-sizing: border-box;
    margin: 0;
    /* background-color: black; */
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 80%;
    height: 80%;
    background-color: black;
}
